In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
from pandas.core.common import SettingWithCopyWarning

from airQualFunctions import *

warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [3]:
df = pd.read_csv("airquality_pm10_daily_summary.csv")

In [4]:
hazardous = df.loc[df.aqi > 300]

In [5]:
hazardous.head()

,latitude,longitude,date_local,event_type,arithmetic_mean,aqi,state_name,county_name
16793,37.360684,-118.330783,2019-11-25,None,449.0,331,California,Inyo
16794,36.233274,-119.766212,2019-11-25,Included,469.0,356,California,Kings
29343,35.385574,-119.015009,2019-10-30,None,652.0,548,California,Kern
30514,36.315670,-119.643447,2019-10-27,None,551.0,447,California,Kings
30558,36.102244,-119.565650,2019-10-27,None,549.0,445,California,Kings

In [11]:
hazardous.groupby(by = "state_name").count().latitude

# as anticipated, california tops the chart for unhealthy air (fires)

state_name
Alaska                 9
Arizona              218
California           826
Colorado              10
Country Of Mexico     76
Georgia                1
Idaho                  7
Indiana                1
Michigan               1
Missouri              49
Montana                1
Nevada                37
New Mexico           115
Ohio                   1
Pennsylvania           4
South Dakota           2
Texas                 23
Utah                   1
Washington            15
Wyoming               15
Name: latitude, dtype: int64